@model CRUDTEST.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@section head{
    <style type="text/css">
        body {
            background-image: url('/Images/screen.png');
            margin: 0;
            background-size: cover;
            color: white;
        }
    </style>
}
<h1 class="text-center">@ViewBag.Title.</h1>
<div class="row form ">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4 class="text-center">Créez un nouveau compte</h4>
        <hr />
        <center>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-12 " })
                <div class="col">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-12 " })
                <div class="col">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-12 " })
                <div class="col">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    <input type="submit" class="btn btn-info" value="Register" />
                </div>
            </div>
        </center>
        <center>
            <div>
                @Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style = "color: blue;" })
            </div>
        </center>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
